*{
	margin:0px ;
	padding: 0px;
}

  
  .card img{
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

  }
  
  .about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
  }
  
  h2, p {
    text-align: center;
    font-family: cursive;
  }
  
   .menu {
    background-color: rgb(167, 104, 117);
    position: sticky;
    z-index: 2;
    top: 0;
  }
  .menu ul {
    list-style: none;
  }
  
  .menu ul li {
    display: inline-block;
    position: relative;
  }
  .menu ul li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 20px 50px;
  }
  
  .menu ul li a:hover {
    color: pink;
  }
  
  .menu ul li ul {
    position: absolute;
    background-color: rgb(167,104, 117);
    width: 250px;
    visibility: hidden;
  }
  
  .menu ul li ul li {
    border-bottom: 1px solid #777;
    display: block;
  
  }

  .menu ul li:hover ul {
    opacity: 1;
    visibility: visible;
    top: 100%;
  }